<footer class="main">

	<div class="container">

		<div class="row">
		
			<p class="col-lg-7">

				This website template is based on the work of - <a href="http://www.dgbrt.fr">Webdesigner </a> Dagobert Renouf. 
			</p>

			<p class="col-lg-5" id="bottom-nav">

				<a href="/credits">Credits</a> - <a href="https://github.com/swolemonkey/swolemonkey.github.io">Source on Github</a>&nbsp;-&nbsp;<a href="https://twitter.com/peanutapp" class="icon-social twitter"><i class="icon-fa-twitter"></i></a>&nbsp;-&nbsp;<a href="https://www.facebook.com/theopinionatedpeanut" class="icon-social facebook"><i class="icon-fa-facebook"></i></a>&nbsp;-&nbsp;<a href="https://plus.google.com/112331089402355257238/?rel=authorr" class="icon-social google-plus"><i class="icon-fa-google-plus"></i></a>

			</p>

		</div>

	</div>

</footer>